.user{
    flex: 4;
    padding:24px;
}
.userTitleContainer{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.userTitle{
    font-stretch: 24px;
}
.userAddButton{
    background-color: teal;
    color:white;
    font-size: 16px;
    width:80px;
    padding:5px;
    border-radius:5px;
    cursor:pointer;
    border:none;
}
.userContainer{
    display:flex;
    margin-top: 20px;
    
}
.userShow{
    flex:1;
    padding:20px;
    margin-right: 20px;
    background-color:rgb(248, 248, 251);

}
.userUpdate{

    flex:2;
    padding:20px;
    background-color:rgb(248, 248, 251);

}
.userShowTop{
    display: flex;
    align-items:center;
}
.userShowImg{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover; 
}
.userShowTitle{
    display:flex;
    flex-direction:column;
    margin-left: 20px;
}
.userShowUserName{
    font-size:20px;
    font-weight: 600;
}
.userShowUserTitle{
    font-weight:300;
    color:rgb(118, 117, 117);


}
.userShowBottom{
    margin-top:20px;
}
.userShowTitleDetails,.userShowContactDetails{
    font-size: 14px;
    font-weight:600;
    margin-top: 20px;
    color:rgb(118, 117, 117);
}
.userShowInfo{
    display:flex;
    align-items:center;
    margin:20px 0px;
    color:#444;
}
.userShowIcon{
    margin-right:20px;
    font-size:16px !important;
}
.userUpdateImage{
    width:100px;
    height:100px;
    border-radius:10px;
    object-fit:cover;
    margin-right: 20px;
}
.userUpdateRight{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.userUpdateForm{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}
.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.userUpdateItem{
    display:flex;
    flex-direction:column;
    margin-top: 10px;
}
.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.userUpdateInput{
    border:none;
    width:250px;
    height:30px;
    border-bottom: 1px solid gray;
}
.userUpdateUpload{
    display:flex;
   align-items:center;
}
.userUploadIcon{
    cursor:pointer;

}

.userUpdateButton{
    background-color:darkblue;
    color:white;
    border:none;
    border-radius:5px;
    font-weight:600;
    padding:5px;
}