.widgetSm{
 padding: 20px;
    flex:1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.widgetSmTitle{
    font-size: 22px;
    font-weight: bold;
}
.widgetSmImage{
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit:cover;
}
.widgetSmList{
    margin:0;
    padding:0;
    list-style: none;
}
.widgetSmListItem{
    display: flex;
    padding:10px 0px;
    align-items: center;
    justify-content:space-between;


}
.widgetSmUser{
    display: flex;
    margin-left: 10px;
    flex-direction:column;
}
.widgetSmUsername{
  font-weight: bold;
  color:#555;
}
.widgetSmUsrTitle{
    display: flex;
    font-weight: 3000;
    color:rgb(120, 120, 148);

}
.widgetSmButton{
    display: flex;
    margin-left: 20px;
    border:none;
    border-radius:10px;
    padding: 3px 6px;
    align-items: center;
    gap: 2px;
    background-color:#eeeef7;
    cursor:pointer;
    color:#555;
}

.widgetSmIcon{
    font-size:16px;
}