.widgetLg{
 
    flex: 4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-right: 32px;
    padding:20px;
}
.widgetLgTitle{
    font-size:22px;
}
.ImageWidget{
    width: 40px;
    height:40px;
    border-radius: 50%;

}
.widgetLgButton{
    padding:5px 8px;
    border:none;
    border-radius: 10px;
    
}
.widgetLgButton.Approved{
background-color: #e5faf2;
color:#3bb077;
}
.widgetLgButton.Declined{
background-color: #fff0f1;
color:#d95087;
}
.widgetLgButton.Pending{
background-color: #ebf1fe;
color:#2a7ade;
}
.widgetLgUser{
    display:flex;
    align-items: center;
    gap: 2px;
}
.content__container{
    display:flex;
    flex-direction:column;
    gap:2px;
    position: relative;
}
.widgetLgTable{
    width:100%;
    border-spacing:20px;
}
.widgetLgTr{
    text-align: left;
}
.widgetLgName{
    margin-left: 10px;
    font-weight: 600;
}
.widgetLgAmount, .widgetLgData{
    color:rgb(120, 120, 148);
}